{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb",
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "new-cap": [2, { "capIsNew": false }],
    "max-len": [0],
    "global-require": [0],
    "no-param-reassign": [1],
    "no-confusing-arrow": [1],
    "import/no-extraneous-dependencies": [0],
    "import/no-named-as-default": [0],
    "generator-star-spacing": ["error", {"before": true, "after": false}],
    "import/no-unresolved": [0]
  }
}
