.roleItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 15px 0px 7px 0px;
  border-bottom: 1px solid rgb(219, 222, 224);
  border-left: 5px solid transparent;

  &:hover {
    border-left: 5px solid rgb(145, 195, 131);
  }
}

.roleItem:first-child {
  padding-top: 7px;
}

.roleItem:last-child {
  border-bottom: none;
  padding-bottom: 2px;
}

.roleText {
  p {
    padding: 0;
    margin: 0;
    color: rgb(72, 85, 102);
  }
}

.roleIcon {
  width: 60px;
  margin: 8px 0px 0px 20px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 20px;

  &.padTop {
    padding-top: 10px;
  }
}

.sublabel {
  font-size: 13px;
  font-style: italic;
  line-height: 11px;
}

.label,
.sublabel {
  margin: 0;
}

.circle {
  font-size: 36;
  color: rgb(72, 85, 102);
  line-height: 26px;
}

.user {
  font-size: 28;
  color: rgb(255, 255, 255);
  line-height: 34px;
}

.plus {
  font-size: 24;
  color: rgb(72, 85, 102);
  line-height: 24px;
  padding-left: 10px;
}
