.item {
  min-height: 65px;
  display: flex;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgb(219, 222, 224);
  background: rgb(255, 255, 255);
  color: rgb(72, 85, 102);
  margin: 0;
  padding: 0;
  padding-left: 5px;
  outline: none;

  &:last-child {
    border-bottom: none;
  }

  &.selected {
    padding-left: 0px;
    border-left: 5px solid rgb(145, 195, 131);
  }
}

/* Menu Icon Styles */
.iconContainer {
  border-left: 5px solid transparent;
  align-self: center;

  .icon {
    font-size: 1.5rem;
    color: rgb(72, 85, 102);
    line-height: 2.6rem;
    margin: 0px 1rem;
  }

  .small {
    font-size: 0.8rem;
    margin-left: 1.2rem;
  }
}

/* Menu Item Text Styles */
.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  p {
    margin: 0;
  }

  .label {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    align-self: center;
  }

  .label.center {
    align-self: flex-start;
  }

  .sublabel {
    font-size: 0.7rem;
    line-height: 0.7rem;
    font-style: italic;
    align-self: flex-end;
  }

  .button {
    font-weight: 500;
  }
}
